Merge new 'orders_products_combined' with 'products' data

1. Setup

2. Import data

3. Combine datasets

4. Export

1. Initial notebook setup, load libraries and create path

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create path

path = r'/Users/chrisherin/Documents/01_Jupyter/11-2021 Instacart Basket Analysis'

2a. Import 'orders_products_combined' data and check

In [7]:
# Import df_products_combined

df_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
# Check import

df_prod_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
#Check shape

df_prod_comb.shape

(32434489, 10)

:: Import of data 'orders_products_combined.pkl' successful.

2b. Import 'products_checked' data and check

In [14]:
# Import 'products_checked'

df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [15]:
# Remove extra index column from import

df_prod = df_prod.drop(columns = ['Unnamed: 0'])

In [16]:
# Check import

df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
# Check shape

df_prod.shape

(49672, 5)

:: Import of data 'products_checked.csv' successful

3. Combine

These two datasets would be best combined with 'left join' merge joining the 'products'(df_prod) data to the 'orders_products_combined'(df_prod_comb) on the 'product_id' creating a wide dataset adding the 'products' columns to the 'orders_products_combined' dataset. This will show each order detail with the product detail of 'product_name', 'aisle_id', 'department_id', 'prices'.

In [20]:
# Merge

df_merged = df_prod_comb.merge(df_prod, on = ['product_id'], how = 'left')

In [21]:
# Check

df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0

In [25]:
# Check _merge

df_merged['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
# Shape

df_merged.shape

(32435059, 14)

:: Now we have a dataset by 'order_id' showing both order and product data.

4. Export

In [24]:
# Export as pickle due to size and ease of import/export in python. 

df_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))

:: Task complete