4.8 Task work

:: Sections correlate to task question numbers. Questions are headers for each section.

1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Create Path

path = r'/Users/chrisherin/Documents/01_Jupyter/11-2021 Instacart Basket Analysis'

In [2]:
# Import data

df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [3]:
# Check

df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busy_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,regularly busy,regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,regularly busy,regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,regularly busy,regularly busy,Average orders

In [4]:
# Check

df.shape

(32435059, 18)

2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
# Group by 'product_name' 

df.groupby('product_name')

In [6]:
# Aggregate 

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

:: Running the groupby and agg syntax on the entire df returns higher means for each department than it does for the subset, but not by much. This is expected as the subset was quite smaller than the whole.

4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [7]:
# Create new column 'max_order'

df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busy_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,regularly busy,regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,regularly busy,regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,regularly busy,regularly busy,Average orders,10

Change the amount of rows printed. Added for future ref.

In [9]:
# Show all rows printed in .head()

pd.options.display.max_rows = None

In [10]:
df.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busy_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,regularly busy,regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,regularly busy,regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,regularly busy,regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,regularly busy,regularly busy,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,regularly busy,regularly busy,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,regularly busy,regularly busy,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,regularly busy,regularly busy,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,regularly busy,regularly busy,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,regularly busy,regularly busy,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,both,Creamy Almond Butter,88.0,13.0,3.2,Low-range product,regularly busy,regularly busy,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,least busy,slowest days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,least busy,slowest days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,least busy,slowest days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,least busy,slowest days,Average orders,10
20,2254736,1,4,4,7,29.0,26405,5,1,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,least busy,slowest days,Average orders,10
21,431534,1,5,4,15,28.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,least busy,slowest days,Most orders,10
22,431534,1,5,4,15,28.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,least busy,slowest days,Most orders,10
23,431534,1,5,4,15,28.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,least busy,slowest days,Most orders,10
24,431534,1,5,4,15,28.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,least busy,slowest days,Most orders,10
25,431534,1,5,4,15,28.0,10326,5,0,both,Organic Fuji Apples,24.0,4.0,2.7,Low-range product,least busy,slowest days,Most orders,10
26,431534,1,5,4,15,28.0,17122,6,0,both,Honeycrisp Apples,24.0,4.0,14.0,Mid-range product,least busy,slowest days,Most orders,10
27,431534,1,5,4,15,28.0,41787,7,0,both,Bartlett Pears,24.0,4.0,5.0,Low-range product,least busy,slowest days,Most orders,10
28,431534,1,5,4,15,28.0,13176,8,1,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,least busy,slowest days,Most orders,10
29,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Average orders,10
30,3367565,1,6,2,7,19.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Average orders,10
31,3367565,1,6,2,7,19.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,regularly busy,regularly busy,Average orders,10
32,3367565,1,6,2,7,19.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,regularly busy,regularly busy,Average orders,10
33,550135,1,7,1,9,20.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,busiest days,Average orders,10
34,550135,1,7,1,9,20.0,10258,2,1,both,Pistachios,117.0,19.0,3.0,Low-range product,regularly busy,busiest days,Average orders,10
35,550135,1,7,1,9,20.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,busiest days,Average orders,10
36,550135,1,7,1,9,20.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,regularly busy,busiest days,Average orders,10
37,550135,1,7,1,9,20.0,13032,5,1,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,regularly busy,busiest days,Average orders,10
38,3108588,1,8,1,14,14.0,12427,1,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,busiest days,Most orders,10
39,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,busiest days,Most orders,10
40,3108588,1,8,1,14,14.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,regularly busy,busiest days,Most orders,10
41,3108588,1,8,1,14,14.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,regularly busy,busiest days,Most orders,10
42,3108588,1,8,1,14,14.0,46149,5,0,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,regularly busy,busiest days,Most orders,10
43,3108588,1,8,1,14,14.0,49235,6,0,both,Organic Half & Half,53.0,16.0,1.8,Low-range product,regularly busy,busiest days,Most orders,10
44,2295261,1,9,1,16,0.0,49235,1,1,both,Organic Half & Half,53.0,16.0,1.8,Low-range product,regularly busy,busiest days,Most orders,10
45,2295261,1,9,1,16,0.0,46149,2,1,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,regularly busy,busiest days,Most orders,10
46,2295261,1,9,1,16,0.0,25133,3,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,regularly busy,busiest days,Most orders,10
47,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77.0,7.0,9.0,Mid-range product,regularly busy,busiest days,Most orders,10
48,2295261,1,9,1,16,0.0,10258,5,1,both,Pistachios,117.0,19.0,3.0,Low-range product,regularly busy,busiest days,Most orders,10
49,2295261,1,9,1,16,0.0,12427,6,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,regularly busy,busiest days,Most orders,10
50,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,least busy,slowest days,Average orders,10
51,2550362,1,10,4,8,30.0,46149,2,1,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,least busy,slowest days,Average orders,10
52,2550362,1,10,4,8,30.0,39657,3,0,both,Milk Chocolate Almonds,45.0,19.0,6.8,Mid-range product,least busy,slowest days,Average orders,10
53,2550362,1,10,4,8,30.0,38928,4,0,both,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range product,least busy,slowest days,Average orders,10
54,2550362,1,10,4,8,30.0,25133,5,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,least busy,slowest days,Average orders,10
55,2550362,1,10,4,8,30.0,10258,6,1,both,Pistachios,117.0,19.0,3.0,Low-range product,least busy,slowest days,Average orders,10
56,2550362,1,10,4,8,30.0,35951,7,0,both,Organic Unsweetened Almond Milk,91.0,16.0,1.3,Low-range product,least busy,slowest days,Average orders,10
57,2550362,1,10,4,8,30.0,13032,8,1,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,least busy,slowest days,Average orders,10
58,2550362,1,10,4,8,30.0,12427,9,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,least busy,slowest days,Average orders,10
59,2168274,2,1,2,11,NaN,32792,1,0,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,regularly busy,regularly busy,Most orders,14
60,2168274,2,1,2,11,NaN,47766,2,0,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,regularly busy,regularly busy,Most orders,14
61,2168274,2,1,2,11,NaN,20574,3,0,both,Roasted Turkey,96.0,20.0,2.3,Low-range product,regularly busy,regularly busy,Most orders,14
62,2168274,2,1,2,11,NaN,12000,4,0,both,Baked Organic Sea Salt Crunchy Pea Snack,72.0,13.0,10.9,Mid-range product,regularly busy,regularly busy,Most orders,14
63,2168274,2,1,2,11,NaN,48110,5,0,both,Thin Stackers Brown Rice Lightly Salted,78.0,19.0,2.7,Low-range product,regularly busy,regularly busy,Most orders,14
64,2168274,2,1,2,11,NaN,22474,6,0,both,Cheddar Bunnies Snack Crackers,78.0,19.0,4.1,Low-range product,regularly busy,regularly busy,Most orders,14
65,2168274,2,1,2,11,NaN,16589,7,0,both,Plantain Chips,107.0,19.0,5.0,Low-range product,regularly busy,regularly busy,Most orders,14
66,2168274,2,1,2,11,NaN,35917,8,0,both,Organic Just Concord Grape Juice,98.0,7.0,9.4,Mid-range product,regularly busy,regularly busy,Most orders,14
67,2168274,2,1,2,11,NaN,27344,9,0,both,Uncured Genoa Salami,96.0,20.0,14.8,Mid-range product,regularly busy,regularly busy,Most orders,14
68,2168274,2,1,2,11,NaN,30489,10,0,both,Original Hummus,67.0,20.0,7.5,Mid-range product,regularly busy,regularly busy,Most orders,14
69,2168274,2,1,2,11,NaN,27966,11,0,both,Organic Raspberries,123.0,4.0,4.4,Low-range product,regularly busy,regularly busy,Most orders,14
70,2168274,2,1,2,11,NaN,13176,12,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,regularly busy,regularly busy,Most orders,14
71,2168274,2,1,2,11,NaN,45066,13,0,both,Honeycrisp Apple,24.0,4.0,2.5,Low-range product,regularly busy,regularly busy,Most orders,14
72,1501582,2,2,5,10,10.0,16797,1,0,both,Strawberries,24.0,4.0,1.3,Low-range product,regularly busy,regularly busy,Most orders,14
73,1501582,2,2,5,10,10.0,47526,2,0,both,Goat Cheese Log,21.0,16.0,2.0,Low-range product,regularly busy,regularly busy,Most orders,14
74,1501582,2,2,5,10,10.0,8479,3,0,both,Original Black Box Tablewater Cracker,78.0,19.0,3.5,Low-range product,regularly busy,regularly busy,Most orders,14
75,1501582,2,2,5,10,10.0,47766,4,1,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,regularly busy,regularly busy,Most orders,14
76,1501582,2,2,5,10,10.0,19051,5,0,both,"Pita Chips, Simply Naked, Party Size",107.0,19.0,3.9,Low-range product,regularly busy,regularly busy,Most orders,14
77,1501582,2,2,5,10,10.0,8138,6,0,both,Traditional Hummus,67.0,20.0,2.0,Low-range product,regularly busy,regularly busy,Most orders,14
78,1901567,2,3,1,10,3.0,47766,1,1,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,regularly busy,busiest days,Most orders,14
79,1901567,2,3,1,10,3.0,32792,2,1,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,regularly busy,busiest days,Most orders,14
80,1901567,2,3,1,10,3.0,20574,3,1,both,Roasted Turkey,96.0,20.0,2.3,Low-range product,regularly busy,busiest days,Most orders,14
81,1901567,2,3,1,10,3.0,7781,4,0,both,Organic Sticks Low Moisture Part Skim Mozzarel...,21.0,16.0,6.6,Mid-range product,regularly busy,busiest days,Most orders,14
82,1901567,2,3,1,10,3.0,28874,5,0,both,Carrot Ginger Soup,1.0,20.0,6.2,Mid-range product,regularly busy,busiest days,Most orders,14
83,738281,2,4,2,10,8.0,49451,1,0,both,Artichoke Spinach Dip,67.0,20.0,7.1,Mid-range product,regularly busy,regularly busy,Most orders,14
84,738281,2,4,2,10,8.0,32792,2,1,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,regularly busy,regularly busy,Most orders,14
85,738281,2,4,2,10,8.0,32139,3,0,both,Hommus Classic Original,67.0,20.0,7.5,Mid-range product,regularly busy,regularly busy,Most orders,14
86,738281,2,4,2,10,8.0,34688,4,0,both,Good Belly Probiotics Juice Drink Blueberry Ac...,31.0,7.0,5.8,Mid-range product,regularly busy,regularly busy,Most orders,14
87,738281,2,4,2,10,8.0,36735,5,0,both,Organic Roasted Sliced Chicken Breast,96.0,20.0,8.9,Mid-range product,regularly busy,regularly busy,Most orders,14
88,738281,2,4,2,10,8.0,37646,6,0,both,Organic Gala Apples,24.0,4.0,9.1,Mid-range product,regularly busy,regularly busy,Most orders,14
89,738281,2,4,2,10,8.0,22829,7,0,both,Multigrain Flax Seeded Flatbread Crackers,78.0,19.0,5.5,Mid-range product,regularly busy,regularly busy,Most orders,14
90,738281,2,4,2,10,8.0,24852,8,0,both,Banana,24.0,4.0,12.3,Mid-range product,regularly busy,regularly busy,Most orders,14
91,738281,2,4,2,10,8.0,47209,9,0,both,Organic Hass Avocado,24.0,4.0,4.0,Low-range product,regularly busy,regularly busy,Most orders,14
92,738281,2,4,2,10,8.0,33276,10,0,both,Kalamata Olive Spread,67.0,20.0,10.8,Mid-range product,regularly busy,regularly busy,Most orders,14
93,738281,2,4,2,10,8.0,45613,11,0,both,Pad Thai,38.0,1.0,12.6,Mid-range product,regularly busy,regularly busy,Most orders,14
94,738281,2,4,2,10,8.0,9681,12,0,both,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,Low-range product,regularly busy,regularly busy,Most orders,14
95,738281,2,4,2,10,8.0,21150,13,0,both,Fire Grilled Steak Bowl,38.0,1.0,5.9,Mid-range product,regularly busy,regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,Mid-range product,regularly busy,regularly busy,Most orders,14
97,1673511,2,5,3,11,8.0,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,Low-range product,regularly busy,regularly busy,Most orders,14
98,1673511,2,5,3,11,8.0,17224,3,0,both,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,Low-range product,regularly busy,regularly busy,Most orders,14
99,1673511,2,5,3,11,8.0,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,Low-range product,regularly busy,regularly busy,Most orders,14

In [11]:
# Orders over 40 = 'loyal customer'

df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
# Orders 11 - 39 = 'regular customer'

df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
# Orders 10 or less = 'new customer'

df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Value counts for new loyalty flag

df['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [15]:
df[['user_id', 'loyalty_flag', 'order_number']].head(100)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1
60        2  Regular customer             1
61        2  Regular customer             1
62        2  Regular customer             1
63        2  Regular customer             1
64        2  Regular customer             1
65        2  Regular customer             1
66        2  Regular customer             1
67        2  Regular customer             1
68        2  Regular customer             1
69        2  Regular customer             1
70        2  Regular customer             1
71        2  Regular customer             1
72        2  Regular customer             2
73        2  Regular customer             2
74        2  Regular customer             2
75        2  Regular customer             2
76        2  Regular customer             2
77        2  Regular customer             2
78        2  Regular customer             3
79        2  Regular customer             3
80        2  Regular customer             3
81        2  Regular customer             3
82        2  Regular customer             3
83        2  Regular customer             4
84        2  Regular customer             4
85        2  Regular customer             4
86        2  Regular customer             4
87        2  Regular customer             4
88        2  Regular customer             4
89        2  Regular customer             4
90        2  Regular customer             4
91        2  Regular customer             4
92        2  Regular customer             4
93        2  Regular customer             4
94        2  Regular customer             4
95        2  Regular customer             4
96        2  Regular customer             5
97        2  Regular customer             5
98        2  Regular customer             5
99        2  Regular customer             5

5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [16]:
df.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer    10.386336    7.4  1.0  99999.0
New customer      13.294670    7.4  1.0  99999.0
Regular customer  12.495717    7.4  1.0  99999.0

:: It seems that the 'loyal customer' category has a lower average price with 'new customer' having the highest price.

6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [17]:
# Create new column 'spending'

df['spending'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Check

df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busy_days,busiest_period_of_day,max_order,loyalty_flag,spending
0,2539329,1,1,2,8,NaN,196,1,0,both,...,77.0,7.0,9.0,Mid-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,91.0,16.0,12.5,Mid-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,23.0,19.0,4.4,Low-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,23.0,19.0,4.7,Low-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,54.0,17.0,1.0,Low-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797

:: Create criteria for 'spending' column

In [19]:
# Mean 'prices' lower than 10 = 'low spender'

df.loc[df['spending'] < 10, 'spending_flag'] = 'Low spender'

In [20]:
# Mean 'prices' equal or higher than 10 = 'high spender'

df.loc[df['spending'] >= 10, 'spending_flag'] = 'High spender'

In [21]:
# Spending stats

df['spending_flag'].value_counts(dropna = False)

Low spender     31800414
High spender      634645
Name: spending_flag, dtype: int64

7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [23]:
# Create new column 'buyer_frequency'

df['frequency'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
# Check

df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_day,busy_days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency
0,2539329,1,1,2,8,NaN,196,1,0,both,...,9.0,Mid-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,12.5,Mid-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,4.4,Low-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,4.7,Low-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,1.0,Low-range product,regularly busy,regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5

:: Create criteria for 'frequency' column

In [25]:
# Median 'days_since_prior_order' higher than 20 = 'non-frequent customer'

df.loc[df['frequency'] > 20, 'freq_flag'] = 'non-frequent customer'

In [26]:
# Median 'days_since_prior_order' higher than 10 and lower than or equal to 20 = 'regular customer'

df.loc[(df['frequency'] > 10) & (df['frequency'] <= 20), 'freq_flag'] = 'regular customer'

In [27]:
# Median 'days_since_prior_order' lower than or equal to 10 = 'frequent customer'

df.loc[df['frequency'] <= 10, 'freq_flag'] = 'frequent customer'

In [28]:
# Frequency stats

df['freq_flag'].value_counts(dropna = False)

frequent customer        21578273
regular customer          7217066
non-frequent customer     3639720
Name: freq_flag, dtype: int64

In [29]:
# Export df

df.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merg48.pkl'))